@page "/atoms"
@using UiComponents.Interops
@using UiComponents

@inject ThemeProvider Theme
@inject DrawerInterop Drawer

@rendermode InteractiveAuto

<PageTitle>Counter</PageTitle>

<div class="flex items-stretch gap-4 flex-1 flex-row w-full min-h-[150vh]">
    <div class="flex-1 flex-col">
        <header class="p-1">
            <h1 class="p-3 flex flex-row items-center gap-2">
                <a href="">Ui Components</a>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
                    <path fill-rule="evenodd" d="M6.22 4.22a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06l-3.25 3.25a.75.75 0 0 1-1.06-1.06L8.94 8 6.22 5.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"/>
                </svg>
                Atoms
            </h1>
        </header>
        <section class="prose prose-h1:font-light flex-1 max-w-none mx-auto p-4 dark:prose-invert">
            <h2>Counter</h2>
            <p role="status">Current count: @_currentCount</p>
            <div class="flex gap-2 items-center">
                <Button Style="@Theming.ButtonStyles.Primary" @onclick="Add" class="order-3">
                    <Icon Name="@Theming.Icons.Plus" class="w-6 h-6"/>
                </Button>
                <Button Style="@Theming.ButtonStyles.Secondary" class="order-2" disabled="@(_currentCount == 0)" @onclick="Subtract">
                    <Icon Name="@Theming.Icons.Minus" class="w-6 h-6"/>
                </Button>
                <Button Style="@Theming.ButtonStyles.Danger" @onclick="Reset" disabled="@(_currentCount == 0)" class="order-1">
                    <Icon Name="@Theming.Icons.Trash" class="w-6 h-6"/>
                </Button>
            </div>
            <h2>Colors</h2>
            <div class="flex gap-4 grid-cols-2 justify-items-start overflow-auto *:flex *:items-center *:m-0 *:justify-center *:w-32 *:aspect-square *:rounded-lg">
                <figure class="border-2 border-neutral-200 dark:border-neutral-800 @(Theme.BgColorDefault) @(Theme.FgColorDefault) font-bold">Default</figure>
                <figure class="dark:border-neutral-800 @(Theme.BgColorEmphasis) @(Theme.FgColorEmphasis) font-bold">Emphasis</figure>
                <figure class="dark:border-neutral-800 @(Theme.BgColorSubtle) @(Theme.FgColorSubtle) font-bold">Subtle</figure>
                <figure class="dark:border-neutral-800 @(Theme.BgColorInset) @(Theme.FgColorInset) font-bold">Inset</figure>
            </div>
            <h2>Buttons</h2>
            <div class="grid lg:grid-cols-5 gap-2 lg:gap-4 max-w-screen-md drop-shadow-2xl">
                <Button>Base</Button>
                <Button Style="@Theming.ButtonStyles.Primary">Primary</Button>
                <Button Style="@Theming.ButtonStyles.Secondary">Secondary</Button>
                <Button Style="@Theming.ButtonStyles.Danger">Danger</Button>
                <Button Style="@Theming.ButtonStyles.Invisible">Invisible</Button>
            </div>
            <h2>Icon buttons</h2>
            <div class="grid grid-flow-col-dense auto-cols-max place-items-center">
                <Button Style="@Theming.ButtonStyles.Icon" @onclick="@(async () => await Drawer.ToggleAsync())">
                    <Icon Name="@Theming.Icons.Bars3" class="w-6 h-6"/>
                </Button>
                <Button Style="@Theming.ButtonStyles.Icon">
                    <Icon Name="@Theming.Icons.ArrowTopRightOnSquare" class="w-6 h-6"/>
                </Button>
                <Button Style="@Theming.ButtonStyles.Icon">
                    <Icon Name="@Theming.Icons.QrCode" class="w-6 h-6"/>
                </Button>
                <Button Style="@Theming.ButtonStyles.Icon">
                    <Icon Name="@Theming.Icons.MagnifyingGlass" class="w-6 h-6"/>
                </Button>
                <Button Style="@Theming.ButtonStyles.Icon">
                    <Icon Variant="@Theming.IconStyles.Solid" Name="@Theming.Icons.Cog6Tooth" class="w-6 h-6"/>
                </Button>
            </div>
        </section>
    </div>
</div>

@code {
    private int _currentCount = 0;

    private void Add()
    {
        _currentCount++;
    }

    private void Subtract()
    {
        if (_currentCount > 0)
        {
            _currentCount--;
        }
    }

    private void Reset()
    {
        _currentCount = 0;
    }

}