@inject ThemeProvider Theme
@rendermode InteractiveAuto

<menu class="grid gap-2">
    <hr class="border-black/15 dark:border-white/15"/>
    <NavLinkButton Style="@Theming.ButtonStyles.Invisible" Match="NavLinkMatch.All" href="" class="@ActiveMarkerCss">
        <Icon Name="@Theming.Icons.Home" class="w-6 h-6 -mx-3"/>
        <div class="text-left flex-1 font-normal truncate">Home</div>
    </NavLinkButton>
    <NavLinkButton Style="@Theming.ButtonStyles.Invisible" Match="NavLinkMatch.Prefix" href="atoms" class="@ActiveMarkerCss">
        <Icon Name="@Theming.Icons.RectangleGroup" class="w-6 h-6 -mx-3"/>
        <div class="text-left flex-1 font-normal truncate">Atoms</div>
    </NavLinkButton>
    <NavLinkButton Style="@Theming.ButtonStyles.Invisible" Match="NavLinkMatch.Prefix" href="weather" class="@ActiveMarkerCss">
        <Icon Name="@Theming.Icons.Cloud" class="w-6 h-6 -mx-3"/>
        <div class="text-left flex-1 font-normal truncate">Weather</div>
    </NavLinkButton>
</menu>

@code {

    private static string ActiveMarkerCss => $"[&.active>div]:font-bold [&.active]:after:content-[''] [&.active]:after:-mr-3 [&.active]:after:w-1.5 [&.active]:after:h-1.5 [&.active]:after:rounded-full [&.active]:after:bg-green-500";

}