@inherits UiComponentBase

<app class="@(Theme.App) @(ClassAttribute)">
    @if (Drawer is not null)
    {
        <aside id="uiComponents__Drawer" class="@(Theme.Drawer)" data-state="closed">
            @Drawer
        </aside>
    }
    <main class="@(Theme.Body)">@Body</main>
</app>

@code {
    [Parameter] public RenderFragment? Drawer { get; set; }
    [Parameter] public RenderFragment? Body { get; set; }
}