@inherits UiComponentBase
<button
    @attributes="Attributes"
    @onmouseup="@(e => Args = e)"
    @onmousedown="@(() => Args = null)"
    @onblur="@(() => Args = null)"
    class="@(Theme.BaseButton) @(CssClass) @(ClassAttribute)">
    @ChildContent
    @if (RippleEffect)
    {
        <Ripple @bind-Args="Args"/>
    }
</button>

@code {

    [Parameter] public ButtonType ButtonType { get; set; } = ButtonType.Base;
    [Parameter] public bool RippleEffect { get; set; } = true;

    private MouseEventArgs? Args { get; set; }

    private string? CssClass => ButtonType switch
    {
        ButtonType.Primary => Theme.PrimaryButton,
        ButtonType.Secondary => Theme.SecondaryButton,
        ButtonType.Danger => Theme.DangerButton,
        ButtonType.Invisible => Theme.InvisibleButton,
        ButtonType.Icon => Theme.IconButton,
        _ => Theme.BaseButton
    };

}