<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <HeadOutlet/>
</head>

<body>
<Routes/>
<Theme>
    <Colors>
        <CssFor Name="@Theming.Colors.BgDefault" class="bg-white dark:bg-black"/>
        <CssFor Name="@Theming.Colors.FgDefault" class="text-black dark:text-white"/>
        <CssFor Name="@Theming.Colors.BgEmphasis" class="bg-neutral-900 dark:bg-neutral-100"/>
        <CssFor Name="@Theming.Colors.FgEmphasis" class="text-white dark:text-black"/>
        <CssFor Name="@Theming.Colors.BgSubtle" class="bg-neutral-200 dark:bg-neutral-700"/>
        <CssFor Name="@Theming.Colors.FgSubtle" class="text-neutral-500 dark:text-neutral-400"/>
        <CssFor Name="@Theming.Colors.BgInset" class="bg-neutral-100 dark:bg-neutral-800"/>
        <CssFor Name="@Theming.Colors.FgInset" class="text-neutral-400 dark:text-neutral-500"/>
    </Colors>
    <Buttons>
        <CssFor Name="@Theming.Buttons.Base" class="h-12 rounded truncate relative font-bold flex items-center justify-center gap-6 transition-colors select-none disabled:opacity-50 disabled:pointer-events-none *:pointer-events-none"/>
        <CssFor Name="@Theming.Buttons.Primary" class="px-6 ripple-light dark:ripple-dark bg-black dark:bg-white text-white dark:text-black hover:bg-neutral-800 dark:hover:bg-neutral-200"/>
        <CssFor Name="@Theming.Buttons.Secondary" class="px-6 ripple-dark dark:ripple-light border-2 border-black dark:border-white bg-transparent text-black dark:text-white"/>
        <CssFor Name="@Theming.Buttons.Danger" class="px-6 ripple-light bg-red-500 text-neutral-100 hover:bg-red-600"/>
        <CssFor Name="@Theming.Buttons.Invisible" class="px-6 ripple-dark dark:ripple-light bg-transparent text-black hover:bg-black/10 dark:text-white dark:hover:bg-white/10"/>
        <CssFor Name="@Theming.Buttons.Icon" class="h-12 w-12 ripple-dark dark:ripple-light bg-transparent text-black hover:bg-black/10 dark:text-white dark:hover:bg-white/10 rounded-full"/>
    </Buttons>
    <Effects>
        <CssFor Name="@Theming.Effects.Ripple" class="ripple block absolute w-full aspect-square rounded-full z-10 origin-center"/>
    </Effects>
</Theme>
<script src="_framework/blazor.web.js"></script>
</body>

</html>