<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <HeadOutlet/>
</head>

<body>
<Routes/>
<Theme>
    <Colors>
        <CssFor Name="@Theming.Colors.Background" class="bg-white dark:bg-neutral-800" />
        <CssFor Name="@Theming.Colors.Text" class="text-neutral-800 dark:text-white" />
    </Colors>
    <Buttons>
        <CssFor Name="@Theming.Buttons.Primary" class="ripple-dark *:pointer-events-none bg-neutral-800 text-neutral-100 hover:bg-neutral-700 dark:bg-neutral-100 dark:text-neutral-800 dark:hover:bg-neutral-200 rounded px-6 h-12 flex items-center justify-center gap-6 transition-colors select-none disabled:opacity-50 disabled:pointer-events-none"/>
        <CssFor Name="@Theming.Buttons.Secondary" class="ripple-light *:pointer-events-none bg-transparent text-neutral-800 border-2 border-neutral-800 hover:bg-black/10 dark:border-neutral-100 dark:text-neutral-100 dark:hover:bg-white/10 rounded px-6 h-12 flex items-center justify-center gap-6 transition-colors select-none disabled:opacity-50 disabled:pointer-events-none"/>
        <CssFor Name="@Theming.Buttons.Danger" class="ripple-dark *:pointer-events-none bg-red-600 text-neutral-100 hover:bg-red-500 rounded px-6 h-12 flex items-center justify-center gap-6 transition-colors select-none disabled:opacity-50 disabled:pointer-events-none"/>
        <CssFor Name="@Theming.Buttons.Invisible" class="ripple-light *:pointer-events-none bg-transparent text-neutral-800 hover:bg-black/10 dark:text-neutral-100 dark:hover:bg-white/10 rounded px-6 h-12 flex items-center justify-center gap-6 transition-colors select-none disabled:opacity-50 disabled:pointer-events-none"/>
        <CssFor Name="@Theming.Buttons.Icon" class="ripple-light *:pointer-events-none bg-transparent text-neutral-800 hover:bg-black/10 dark:text-neutral-100 dark:hover:bg-white/10 rounded-full h-12 w-12 flex items-center justify-center gap-6 transition-colors select-none disabled:opacity-50 disabled:pointer-events-none"/>
    </Buttons>
    <Effects>
        <CssFor Name="@Theming.Effects.Ripple" class="ripple block absolute w-full aspect-square rounded-full z-10 origin-center"/>
    </Effects>
</Theme>
<script src="_framework/blazor.web.js"></script>
</body>

</html>